/** All styles should be placed in this single stylesheet - this is the only file that should be modified during the completion of the CSS Excercise **/

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    counter-reset: section;
}

.item {
    visibility: hidden;
    height: 350px;
    width: 350px;
    background-color: #007f8a;
    position: relative;
    border-radius: 35px 0;
    margin: 15px;
}

.item:before {
    counter-increment: section;
    content: "Block " counter(section);
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 290px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    position: absolute;
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
    border: 3px solid #ffffff;
  }

.item:nth-child(2n+2) {
    background-color: #ff5761;
}
.item:nth-child(3) {
    background-color: #555555;
}
.item:nth-child(4) {
    background-color: #999999;
}

.item.in {
    visibility: visible;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate;
    animation-iteration-count: 1;
}

@keyframes stretch {
    0% {
      transform: scale(.3);
      border-radius: 0%;
    }
    100% {
      transform: scale(1);
    }
  }